{% extends "network/layout.html" %} 
{% load static %}
{% block body %}
    <div class="container my-3">
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="h4" for="content">What's going on?</label>
                <textarea class="form-control" id="content" rows="3" name="content"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
            <br><br>
        </form>
    </div>
    <hr>
    <!-- {% for people in following_users %}
        <h3>{{people}}</h3>
    {% endfor %} -->

    <div class="container my-5">
        {% for post in page_obj %} 
            <div class="card ">
                <div class="card-header">
                    <!-- {{ post.user }} -->
                    <a href="{% url 'profile' post.user %}">{{post.user.username}}</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.content }}</h5>
                </div>
                <div class="card-footer text-muted" >
                    {% if request.user in post.likes.all  %}
                        <button 
                            id="post-likes-{{post.id}}"
                            data-like-status="liked"
                            data-id="{{post.id}}"
                            class="like-post" 
                            style="float: left; cursor: pointer; border: none; outline: none;">
                            <i class="em em-heart" aria-role="presentation" aria-label="HEAVY BLACK HEART"></i>
                        </button>
                    {% else %}
                        <button     
                            id="post-likes-{{post.id}}"
                            data-like-status="unliked"
                            data-id="{{post.id}}"
                            class="like-post" 
                            style="float: left; cursor: pointer; border: none;"
                        >	
                        &#129293;</button>
                        <span id="post-likes-count-{{post.id}}">{{ post.likes.count }}</span>
                    {% endif %}
                    <span style="float: right;">{{ post.date }}</span>
                </div>
            </div>
            <br><hr><br>
       {% endfor %}
    </div>

     
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item ">
            <a class="page-link" href="?page=1">&laquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}
        
        <li class="current page-item">
            <span class="page-link" style="color: black;">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a>
            </li>
        {% endif %}
      </ul>
      <script src="{% static 'network/like.js' %}"></script>
{% endblock %}