{% extends "network/layout.html" %}

{% block body %}
    <div class="container-fluid">
        <div class="user">
            {{username}}
        </div>
        {% if request.user != username %}
            <button class="btn btn-primary">Follow</button>
        {% endif %}
        <div class="follow">
            <div class="followers">
                <h3>Followers</h3>
                {{followers}}
            </div>
            <div class="following">
                <h3>Following</h3>
                {{following}}
            </div>
        </div>
    </div>

    <div class="container my-5">
        {% for post in posts %} 
            <div class="card ">
                <div class="card-header">
                    <!-- {{ post.user }} -->
                    <a href="{% url 'profile' post.user %}">{{post.user.username}}</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.content }}</h5>
                </div>
                <div class="card-footer text-muted" >
                    <a href="#" class="btn btn-primary" style="float: left;"><span >&#x2764;</span>{{post.likes}}</a>
                    <span style="float: right;">{{ post.date }}</span>
                </div>
            </div>
            <br><br>
       {% endfor %}
    </div>
{% endblock %}