{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <div id="profile">
            
        </div>
    </div>
    
    <script type="text/babel">
        const btnStyle = {
            display: "flex",
            float: "right",
        };

        class Follow extends React.Component {
            constructor(props) {
                super(props);
                {% if follow_state %} 
                    this.state = {
                        followState :'Unfollow',
                        followers: {{ followers }},
                        following: {{ following }},
                        class: 'btn btn-danger my-2'
                    };
                {% else %} 
                    this.state = {
                        followState :'Follow',
                        followers: {{ followers }},
                        following: {{ following }},
                        class: 'btn btn-primary my-2'
                    };
                {% endif %}
                
            }
            
            updateFollowButton = () => {
                // console.log(this.state.followState); // current state of follow button
                if (this.state.followState == 'Follow') {
                    fetch("/follow/{{ username }}/{{ user }}");
                    this.setState((prevState) => ({
                        followers: prevState.followers + 1,
                        followState: "Unfollow",
                        class: 'btn btn-danger my-2'
                    }));
                } else {
                    fetch("/follow/{{ username }}/{{ user }}");
                    this.setState((prevState) => ({
                        followers: prevState.followers - 1,
                        followState: "Follow",
                        class: 'btn btn-primary my-2'
                    }));
                }
            };
        
            render() {
                return (
                    <> 
                        <div className="row">
                            <div className="col">
                                <h2><strong>{{ username }}</strong></h2>
                            </div>
                            <div className="col-6"></div>
                            <div className="col">
                                {% if request.user != username %}                                
                                        <button onClick={ this.updateFollowButton } className={ this.state.class } style={ btnStyle }>{this.state.followState}</button>
                                {% endif %}
                            </div>
                        </div>
                        <br/>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h4> Posts: {{ posts|length }} </h4>                
                                </div>
                                <div class="col">
                                    <h4>Followers: { this.state.followers }</h4> 
                                </div>
                                <div class="col">
                                    <h4>Following: { this.state.following }</h4>  
                                </div>
                            </div>
                            <hr />
                        </div>
                    </>
                );
            }
        };
        
        ReactDOM.render(<Follow />, document.querySelector('#profile'));
    </script>

    
    <div class="container my-5">
        {% for post in page_obj %} 
            <div class="card ">
                <div class="card-header">
                    <!-- {{ post.user }} -->
                    <a href="{% url 'profile' post.user %}">{{post.user.username}}</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.content }}</h5>
                </div>
                <div class="card-footer text-muted" >
                    {% if request.user in post.likes.all  %}
                        <button 
                            id="post-likes-{{post.id}}"
                            data-like-status="liked"
                            data-id="{{post.id}}"
                            class="like-post" 
                            style="float: left; cursor: pointer; border: none; outline: none;">
                            <i class="em em-heart" aria-role="presentation" aria-label="HEAVY BLACK HEART"></i>
                        </button>
                    {% else %}
                        <button     
                            id="post-likes-{{post.id}}"
                            data-like-status="unliked"
                            data-id="{{post.id}}"
                            class="like-post" 
                            style="float: left; cursor: pointer; border: none; outline: none;"
                        >	
                        &#129293;</button>
                    {% endif %}
                    <span id="post-likes-count-{{post.id}}">{{ post.likes.count }}</span>
                    <span style="float: right;">{{ post.date }}</span>
                </div>
            </div>
            <br><br>
       {% endfor %}
    </div>
     
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item ">
                <a class="page-link" href="?page=1">&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% endif %}
        
        <li class="current page-item">
            <span class="page-link" style="color: black;">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a>
            </li>
        {% endif %}
      </ul>
      <script src="{% static 'network/like.js' %}"></script>
{% endblock %}