@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

body {
    /* background-color: #0c0c0cd0; */
    background-image: url('ninja.jpeg');
    /* Full height */
    /* height: 100%; */

    /* Center and scale the image nicely */
    /* background-position: center; */ */
    /* background-repeat: no-repeat; */
     /* background-size: cover; */
}

.card-header, .card-footer {
    /* background-color: rgb(247, 199, 240); */
    background-color: rgb(237 225 235);

}